# Compiled JavaScript files
**/*.js
**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firebase Admin SDK credential
*firebase-adminsdk*.json

# Firebase environment variables file
.runtimeconfig.json

*.tsbuildinfo
