$white: #ffff;

// Set brand colors
$mizuasagi: #5dc2d0;
$tuyukusa: #398fbc;
$konnezu: #467c8d;
$kogane: #edbf02;
$karakurenai: #e23457;
$asagi: #0094b2;
$entan: #f07159;

// Set variables
$primary: $asagi;
$primary-invert: $white;
$info: $konnezu;
$warning: $kogane;
$danger: $karakurenai;
$primary-alt: $mizuasagi;
$accent: $entan;
$twitter: #1da1f2;
$facebook: #1877f2;
$line: #00b900;
